<div class="card text-center">
  <div class="card-body">
    <img src="/assets/img/burger_sm.png" alt="burger image">
    <h1 class="card-title">Eat a Burger!</h5>
      {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
  </div>
</div>

{{!-- BURGERS LIST --}}
<div class="container px-lg-5 ">
  <div class="row mx-lg-n5">

    {{!-- 1/2 Column --}}
    <div class="col py-3 px-lg-5">
      <h3 class="text-center">Available Burgers</h3>
        <ul>
          {{#each burger}}
            {{#unless devoured}}
              {{> burgers/burger-block}}
            {{/unless}}
          {{/each}}
        </ul>
    </div>

    {{!-- 2/2 Column --}}
    <div class="col py-3 px-lg-5">
      <h3 class="text-center">Devoured Burgers</h3>
        <ul>
          {{#each burger}}
            {{#if devoured}}
              {{> burgers/burger-block}}
            {{/if}}
          {{/each}}
        </ul>
    </div>

  </div>
</div>

<br>

{{!-- ADD A BURGER--}}
<div class="row align-items-center">
    <div class="col"></div>

    <div class="col text-center">

      <form class="add-burger">
        <div class="form-group">
          <h3><label for="new-burger">Add a Burger!</label></h3>
          <textarea class="form-control" id="new-burger" rows="1"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>

    </div>

    <div class="col"></div>
  </div>


