<div class="card bg-light text-center">
  <div class="card-body">
    <h1 class="card-title">EAT A BURGER</h5>
  </div>
</div>

<br><br><br><br>

{{!-- BOOTSTRAP --}}
<div class="row-eq-height">

  {{!-- ADD A BURGER --}}
  <div class="col py-3 px-lg-5 bg-light">
    <form class="add-burger">
      <div class="form-group text-center">
        <h4><label for="new-burger">Create a Burger</label></h4>
        <img class="center" src="/assets/img/burger_sm.png" alt="burger image">
        <textarea class="form-control" id="new-burger" rows="1"></textarea>
      </div>

      <button class="center" type="submit">Add Burger!</button>
    </form>
  </div>

  {{!-- AVAILABLE BURGERS --}}
  <div class="col py-3 px-lg-5 bg-light">
    <h4 class="text-center">Burgers Ready to Eat</h4>
    <img class="center" src="/assets/img/burger_sm.png" alt="burger image">
    <ul>
      {{#each burger}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  {{!-- DEVOURED BURGERS --}}
  <div class="col py-3 px-lg-5 bg-light">
    <h4 class="text-center">Devoured Burgers</h4>
    <img class="center" src="/assets/img/burger_sm.png" alt="burger image">
    <ul>
      {{#each burger}}
      {{#if devoured}}
      {{> burgers/burger-block}}
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<br><br><br><br>