<div class="card text-center">
  <div class="card-body">
    <img src="/assets/img/burger_sm.png" alt="burger image">
    <h1 class="card-title">Eat a Burger!</h5>
      {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
  </div>
</div>

{{!-- Two Row Container --}}
<div class="container">

  <div class="row">

    {{!-- 1/2 Column --}}
    <div class="col-sm">

      <h3>Available Burgers</h3>

      <ul>
        {{#each burger}}
          {{#unless devoured}}
            {{> burgers/burger-block}}
          {{/unless}}
        {{/each}}
      </ul>

    </div>

    {{!-- 2/2 Column --}}
    <div class="col-sm">

      <h3>Devoured Burgers</h3>

      <ul>
        {{#each burger}}
          {{#if devoured}}
            {{> burgers/burger-block}}
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>
</div>